
.as-component-player {

    width: 650px;
    height: 350px;
    border-radius: 5px;
    background-color: #111;
    
    &-content {

        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        padding: 1rem 6rem;
        position: relative;
        height: 100%;
        width: 100%;
        
        img,h2,p {
            position: relative;
            z-index: 20;
        }

        img {
            border-radius: 4px;
            height: 10rem;
            width: 10rem;
            min-height: 10rem;
            min-width: 10rem;
            object-fit: cover;
            margin: 1rem;
        }

        p {
            font-weight: 200;
            opacity: .8;

        }
    }


}

