
.as-container-modal {

    justify-content: center;
    align-items: center;

    background-color: rgba(darken($background-color,15),.8);
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 99;

}