
@media (min-width: 1440px) {

    html {
        font-size: 20px;
    }

    main {
        max-width: 1440px;
    }

    .as-section {
        grid-template-rows: 600px 1fr;
        grid-template-columns: 960px 1fr;
    }

    .as-container-player{
        height: 100%;
        width: 100%;
    }

    .as-container-songList {
        header {
            background-color: transparent;
        }
    }

    .as-component-song-body-title {
        font-weight: 500;
    }
  }
  